body {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  background: #2C3037;
}

nav .logo {
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  color: #FFFFFF;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a:hover {
  color: #CCCCCC;
}

nav ul li a {
  line-height: 80px;
  color: #FFFFFF;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:focus {
  outline: none;
}

.wrapper {
  text-align: center;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
  width: 1080px;
}
