.info {
  background: #ccc;
}

h2 {
  display: block;
  padding-top: 15px;
}

h3 {
  display: block;
  padding: 10px;
}

.nav {
  background: #aaabbb;
  width: 100%;
  float: left;
}

.navspan {
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  padding: 20px 0;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 10px 0 10px 10px;
  text-align: left;
  text-transform: capitalize;
}

.nav-link:hover {
  cursor: pointer;
  background: #fffaaa;
}

.nav-link:focus {
  outline: 0;
}

.shopinfo {
  padding: 80px 0;
  width: 100%;
  background: lightgreen;
}
