.item-block {
  display: block;
  border: 1px solid #AAABBB;
}

.item-img{
  width: 200px;
  display: block;
}

.item-block span, .item-block a {
  display: block;
  line-height: 30px;
}

.item-block span {
  display: block;
  text-align: left;
  padding: 5px;
}

.item-img img {
  display: block;
  float: left;
  width: 100%;
  margin-right: 50px;
  border: 1px dotted #FFFFFF;
}

.item-block {
  padding: 10px;
  margin: 20px 0;
  background: #ccc;
}

.item-text a {
  text-decoration: none;
  color: #000000;
}

.item-text a:hover {
  cursor: pointer;
  background: #fffaaa;
}

.item-text a:focus {
  outline: 0;
}
