{% extends "base_template.html" %}

{% block title %}
    Account: {{ current_user.login }}
{% endblock %}

{% block content %}
  {% if current_user.first_name and current_user.second_name %}
    <h1>Hi, {{ current_user.first_name }} {{ current_user.second_name }}!</h1>
  {% else %}
    <h1>Name and surname is not provided.</h1>
  {% endif %}
  <h3>Change personal and billing information by clicking:</h3>
  <a href="{{ url_for('edit_account') }}">Edit Personal Info</a>
  <h3>Your orders:</h3>
  <div class="user-buy-list">
    {% if acc_orders %}
      {% for item in acc_orders %}
        <div style="background: #ccc; margin-bottom: 15px; padding: 10px 0;">
          <p style="background: #ccc;">Order # {{ item }}</p>
          <p>Color: {{ item.color }}</p>
          <p>Order date: #date here</p>
          <p>Approximate arrival date: #date here</p>
        </div>
      {% endfor %}
    {% else %}
      <h3>No items ordered yet!</h3>
      <a href="{{ url_for('shop') }}">Go Shopping!</a>
    {% endif %}
  </div>
{% endblock %}
