<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/base_style.css"></link>
    <title>{% block title %} {% endblock %}</title>
    {% block style %}
    {% endblock %}
  </head>
  <body>

    <div class="navigation">
      <nav>
        <div class="logo">LOGO</div>
        <ul>
          <li><a href="{{ url_for('index') }}">home</a></li>
          <li><a href="{{ url_for('shop') }}">shop</a></li>
          <li><a href="{{ url_for('info') }}">info</a></li>
          <li><a href="{{ url_for('contacts') }}">contacts</a></li>
          <li>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">login</a>
            {% else %}
            <a style="color: red;" href="{{ url_for('logout') }}">logout</a>
          </li>
          <li><a href="{{ url_for('my_account') }}">my account</a></li>
          {% endif %}
          </li>
        </ul>
      </nav>
    </div>
    <div class="wrapper">
      <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
