{% extends "base_template.html" %}

{% block title %}
  Edit account: {{ current_user.login }}
{% endblock %}

{% block content %}
  <h2>Edit account data: {{ current_user.username }}</h2>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.login.label }}<br>
        {{ form.login(size=32) }}<br>
        {% for error in form.login.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.first_name.label }}<br>
        {{ form.first_name(size=32) }}<br>
        {% for error in form.first_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.second_name.label }}<br>
        {{ form.second_name(size=32) }}<br>
        {% for error in form.second_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.post_address.label }}<br>
        {{ form.post_address(size=32) }}<br>
        {% for error in form.post_address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.post_address_index.label }}<br>
        {{ form.post_address_index(size=32) }}<br>
        {% for error in form.post_address_index.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
