{% extends "base_template.html" %}

{% block title %}
  Home Page
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/css/index.css"></link>
{% endblock %}

{% block content %}
  <div class="info">
    <h2>This is My Shop Starting Page.</h2>
    <h3>Here you can find some info about our business.</h3>
  </div>
  <div class="shopinfo">Some more useless information about our service goes here...</div>
{% endblock %}
