{% extends "base_template.html" %}

{% block title %}
  {{ item.company }} - {{ item.item_name }}
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/css/shop.css"></link>
{% endblock %}

{% block content %}
  <div class="item-block">
    <div class="item-img">
      <img src="{{ item.image_path }}" alt="item-img">
    </div>
    <div class="item-text">
      <span class="item-name">{{ item.company }} - {{ item.item_name }}</span>
      <span class="price">Price: {{ item.price }}</span>
      <span class="item-descr">Description: {{ item.description }}</span>
      <span class="item-rate">Colorways: {{ item.colorways }}</span>
      <span class="item-rate">Rate: {{ item.rate }}</span>
      {% if not item.comments %}
        <span>No comments left yet.</span>
      {% else %}
        <span>Reviews:</span>
        {% for comment in item.comments %}
          <div class="comment-block" style="background: lightgreen; margin-bottom: 15px;">
            <span>Author: {{ comment.author_login }}</span>
            <span>Date: {{ comment.timestamp }}</span>
            <span>Body: {{ comment.body }}</span>
            {% if comment.author_login == current_user.login %}
              <form action="" method="post">
                {{ delete.hidden_tag() }}
                <p>{{ delete.submit() }}</p>
              </form>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
      <p>Leave a comment:</p>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.comment.label }}<br>
            {{ form.comment(size=128) }}<br>
            {% for error in form.comment.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
      <p><a href="{{ url_for('order_item', item_id=item.id) }}">Order This Item</a>
    </div>
  </div>
  <p><a href="{{ url_for('shop') }}">Back to Shop</a><br>
{% endblock %}
