{% extends "base_template.html" %}

{% block title %}
  Login Page
{% endblock %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.login.label }}<br>
        {{ form.login(size=32) }}<br>
        <!-- Error messages -->
        {% for error in form.login.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        <!-- Error messages -->
        {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
    <p>New to onlineshop?
      <a href="{{ url_for('register') }}">Create Account</a>
    </p>
    <p>Forgot password?
      <a href="{{ url_for('reset_password') }}">Reset Password</a>
    </p>
  </form>
{% endblock %}
