{% extends "base_template.html" %}

{% block title %}
  Buy {{ item.company }} - {{ item.item_name }}
{% endblock %}

{% block content %}
  <h1>Order {{ item.company }} - {{ item.item_name }}</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.color.label }}<br>
        {{ form.color(size=32) }}<br>
        {% for error in form.color.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.post_address.label }}<br>
        {{ form.post_address(size=32) }}<br>
        {% for error in form.post_address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.post_address_index.label }}<br>
        {{ form.post_address_index(size=32) }}<br>
        {% for error in form.post_address_index.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
