{% extends "base_template.html" %}

{% block title %}
  Registration
{% endblock %}

{% block content %}
  <h1>Registration</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
    {{ form.login.label }}<br>
    {{ form.login(size=32) }}<br>
    {% for error in form.login.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=32) }}<br>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
