{% extends "base_template.html" %}

{% block title %}
  Reset Your Password
{% endblock %}

{% block content %}
  <h2>Reset Password</h2>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.email.label }}
      {{ form.email(size=32) }}
      {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
