{% extends "base_template.html" %}

{% block title %}
  Online Shop
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/css/shop.css"></link>
{% endblock %}

{% block content %}
  {% if not items %}
    <h1>Unfortunately, there is no items in stock yet!</h1>
  {% else %}
  {% for item in items %}
    <div class="item-block">
      <div class="item-img">
        <img src="{{ item.image_path }}" alt="item-img">
      </div>
      <div class="item-text">
        <span class="item-name">{{ item.company }} - {{ item.item_name }}</span>
        <span class="price">Price: {{ item.price }}</span>
        <span class="item-descr">Description: {{ item.description }}</span>
        <span class="item-rate">Colorways: {{ item.colorways }}</span>
        <span class="item-rate">Rate: {{ item.rate }}</span>
        <span class="item-rate">Comments: {{ item.comments|length }}</span>
        <a href="{{ url_for('item', item_id=item.id) }}">Open Item Page</a>
      </div>
    </div>
  {% endfor %}
  {% endif %}
{% endblock %}
